# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# PyCharm
.idea/

# Environment variables
.env
flight_cache.sqlite

# Python packaging
build/
dist/
*.egg-info/

# macOS
.DS_Store

# Windows
Thumbs.db